<%= form_with(model: cipher, local: true) do |form| %>
  <% if cipher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cipher.errors.count, "error") %> prohibited this cipher from being saved:</h2>

      <ul>
      <% cipher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :offset %>
    <%= form.number_field :offset %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
