<p id="notice"><%= notice %></p>

<h1>Ciphers</h1>

<table>
  <thead>
    <tr>
      <th>Offset</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ciphers.each do |cipher| %>
      <tr>
        <td><%= cipher.offset %></td>
        <td><%= encode(cipher,26) %></td>
        <td><%= link_to 'Show', cipher %></td>
        <td><%= link_to 'Edit', edit_cipher_path(cipher) %></td>
        <td><%= link_to 'Destroy', cipher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cipher', new_cipher_path %>
