<p id="notice"><%= notice %></p>

<p>
  <strong>Offset:</strong>
  <%= @cipher.offset %>
</p>

<p>
  <strong>Body:</strong>
  <%= @cipher.body %>
</p>

<%= link_to 'Edit', edit_cipher_path(@cipher) %> |
<%= link_to 'Back', ciphers_path %>
